/* 

rappel du nom de la syntaxe css:

<sélecteur>: {
  <propriété>: <valeur>
}

*/

/*NORMES*/
html {
  /* 1360px = 1400px - 2 * 20px */
  max-width: 1360px;
  
  /* margin auto pour centrer le site */
  margin: 0 auto;
  padding: 0 20px;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

* {
  font-family: "Raleway", "Regular", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 25.83px;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.78px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.78px;
}

a {
  text-decoration: none;
  color: #000000;
}

footer {
  width: 100%;
  margin-top: 75px;
}

.d-flex {
  display: flex;
}

.fa-solid {
  color: #0065fc;
}

/*HEADER*/

.header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header .menu-list {
  margin: 0;
  list-style-type: none;
}

.header .link {
  padding: 20px;
  display: block;
}

.link:hover {
  color: #0065fc;
  box-shadow: 0px 2px 0px #0065fc inset;
}

.logo {
  height: 19px;
  width: 61.09px;
  margin-top: 20px;
}

/*MAIN*/

.boite_contenu_main {
  flex-flow: column;
}

/*BLOC RECHERCHE*/

.bloc_recherche {
  gap: 0px;
  align-items: center;
}

.fa-location-dot {
  border-width: 1px;
  border-style: none;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  padding: 11px 15px 13px 20px;
}

.barre_recherche {
  border-radius: 20px;
  border-width: 1px;
  border-color: #f2f2f2;
  border-style: solid;
  border-radius: 0;
  padding: 11px;
}

input::placeholder {
  resize: 30px;
  line-height: 22px;
  color: black;
  font-weight: 800;
  opacity: 1;
}

.bouton_recherche {
  background-color: #0065fc;
  color: #deebff;
  font-weight: 800;
  border: transparent;
  border-radius: 0 10px 10px 0;
  padding: 12px;
}

.bouton_recherche>.bouton_recherche_icone {
  display: none;
}

.ligne_filtres {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  font-weight: 700;
  margin: 25px 0;
}

.ligne_filtres p {
  margin: 5px;
  font-size: 15px;
}

.bouton_filtres {
  flex-flow: row;
  border-width: 2px;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 25px;
  align-items: center;
  padding: 4px 20px;
  margin-right: 30px;
}

.bouton_filtres:hover {
  background-color: #deebff;
}

.texte_x_dispo {
  align-items: center;
  gap: 5px;
}

.fa-info {
  border-width: 1px;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 40px;
  padding: 5px 10px 5px 10px;
}

/*HÉBERGEMENTS ET POPULAIRES*/

.boite_heb_pop {
  justify-content: space-between;
  align-items: stretch;
  margin: 30px 0;
}

.texte_prix {
  flex-flow: row nowrap;
  flex: 1;
}

.symbole_euro {
  font-weight: 600;
}

.cinquieme_etoile {
  color: gainsboro;
}

.liste_hebergements {
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
  height: 450px;
  justify-content: space-between;
}

.carte_hebergements_img_ctn {
  width: 100%;
  height: 60%;
  display: flex;
}

.carte_activites>.nom_carte {
  margin: 20px;
}

.texte_prix>p {
  margin: 0;
}

.contenu_texte_hebergements>.nom_carte {
  margin: 0;
}

.liste_populaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

#ancre_hebergements {
  margin: 0 0 20px 0;
}

.contenu_texte_populaires {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.contenu_texte_populaires>.nom_carte {
  margin: 6px 0;
}

/*HÉBERGEMENTS*/

.titre_hebergements {
  width: 100%;
  line-height: 20px;
}

.boite_hebergements {
  width: 60%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 40px;
}

.carte_hebergements {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  width: calc(33% - 20px);
  /* 20px == le gap du parent*/
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 6px;
}

.carte_hebergements_content {
  padding: 5px;
  height: 200px;
  flex-direction: column;
  display: flex;
}

.carte_content_hoz {
  display: flex;
  flex-direction: row;
  height: 150px;
}

.image_hebergements {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.contenu_texte_hebergements {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.afficher_plus {
  width: 100%;
  font-weight: 700;
  margin-top: 30px;
}

/*POPULAIRES*/

.boite_populaires {
  width: 25%;
  flex-flow: column wrap;
  justify-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 40px;
}

.titre_populaires {
  margin: 0;
}

.carte_populaires {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 6px;
}

.logo_populaires {
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}

.boite_image_populaires {
  width: 40%;
  padding-bottom: 5px;
}

.image_populaires {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carte_content_hoz .carte_populaires_img_ctn {
  width: 40%;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  flex-shrink: 0;
}

/*ACTIVITÉS*/

.boite_activites {
  width: 100%;
  flex-flow: column nowrap;
}

.sous_boite_activites {
  justify-content: space-between;
}

.titre_activites {
  width: 100%;
}

.carte_activites {
  width: 23%;
  border-color: transparent;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 6px;
}

.image_activites {
  width: 100%;
  height: 400px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

/*FOOTER*/

.boite_footer {
  justify-content: flex-start;
  background-color: #f2f2f2;
  padding: 30px 60px;
}

.boite_footer>section {
  flex: 1;
}

.boite_footer_section {
  flex-flow: column wrap;
}

.boite_footer_section>p {
  margin: 10px 0;
}

/*MEDIA QUERIES*/
/* Dans les zones @media on appelle les sélecteurs dont on veut changer les propriétés.
Attention, on appelle uniquement la/les propriété.s souhaitée.s, les autres resteront inchangées */
@media (min-width: 768px) and (max-width: 992px) {

  body {
    display: block;
  }

  .boite_heb_pop {
    width: 100%;
    flex-flow: column;
    align-content: space-between;
    row-gap: 20px;

    /* empêche l'élément d'être plus grand que la boîte dans laquelle il est. */
    box-sizing: border-box;
  }

  .boite_hebergements {
    width: 100%;
    box-sizing: border-box;
  }

  .boite_populaires {
    width: 100%;
    box-sizing: border-box;
  }

  .liste_populaires {
    flex-direction: row;
    box-sizing: border-box;
  }

  .carte_populaires {
    width: calc(33.33% - 20px);
  }

  .contenu_texte_populaires {
    padding: 10px 10px;
  }


}

/*SMARTPHONES*/

@media (max-width: 767px) {

  html {
    padding: 0;
    margin: 0;
  }

  body {
    display: block;
    width: 100%;
    margin: 0;
  }

  .header .main .boite_hebergements .boite_activites {
    background-color: white;
  }

  .header {
    flex-flow: column wrap;
  }

  .link:hover {
    box-shadow: 0px 2px 0px #0065fc;
  }

  .menu {
    width: 100%;
    padding: 20px 0 0 0;
  }

  .menu-list {
    padding: 0;
  }

  .menu-list li {
    width: 50%;
    float: left;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
  }

  .texte_entete {
    padding: 0 10px 40px 10px;
  }

  .bloc_recherche {
    width: 100%;
  }

  .form_recherche {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
  }

  .barre_recherche {
    width: 80%;
    text-align: center;
  }

  .texte_bouton_recherche {
    display: none;
  }

  .bouton_recherche>.bouton_recherche_icone {
    display: inline;
    color: white;
  }

  .ligne_filtres {
    align-items: start;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
  }

  .ligne_filtres p {
    font-size: 17px;
  }

  .boite_boutons {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  .bouton_filtres {
    margin: 0;
    flex: 1 0 calc(50% - 5px);
    box-sizing: border-box;
    padding: 10px;
    max-width: 250px;
  }

  .bouton_filtres .logo_bouton{
    min-width: 35px;
  }

  .bouton_filtres .logo_bouton i{
    font-size: 22px;
  }

  .texte_x_dispo {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .boite_heb_pop {
    flex-direction: column-reverse;
  }

  .boite_populaires {
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 0%;
    align-self: center;
    box-sizing: border-box;
    padding: 20px;
  }

  .logo_populaires {
    width: 100%;
  }

  .carte_populaires {
    width: 100%;
    box-sizing: border-box;
  }

  .boite_hebergements {
    height: auto;
    width: 100%;
    flex-flow: column wrap;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 45px;
  }

  .liste_hebergements {
    height: auto;
    gap: 20px;
  }

  .carte_hebergements {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }

  .afficher_plus {
    display: none;
  }

  .boite_activites {
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .sous_boite_activites {
    width: 100%;
    height: 25%;
    flex-flow: column wrap;
    gap: 20px;
  }

  .carte_activites {
    width: 100%;
    height: 250px;
    align-items: center;
  }

  .image_activites {
    width: 100%;
    height: 75%;
    object-fit: cover;
  }

  .boite_footer {
    flex-direction: column;
    gap: 20px
  }
}