/*NORMES*/

body{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
h1{
    font-family: 'Raleway', 'Regular', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}
h2{
    font-family: 'Raleway', 'Regular', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
}
h3{
    font-family: 'Raleway', 'Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
}
a{
    text-decoration: none;
    color: #000000;
}
.fa-solid {
    color: #0065FC;
}

aside{
    width: 30%;
    height: 626px;
}
.boite_activites{
    width: 100%;
    height: 500px;
}
footer{
    width: 100%;
    height: 225px;
    background-color: #F2F2F2;
}

/*HEADER*/

.d-flex {
    display: flex;
}

header{
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.logo {
    height: 19px;
    width: 61.09px;
}

.lien_h:active
.lien_a:active {
	border-top: 2px solid #0065FC;
}

ul{
    list-style-type: none;
    flex-flow: row;
}
li{
    padding: 0 3px 0 3px;
}

/*MAIN*/

.boite_contenu_main{
    flex-flow: column;
}

.bouton_recherche{
background-color: #0065FC;
}

.ligne_filtres{
    flex-flow: row;
    justify-content: flex-start;
    align-content: center;
    gap : 20px;
}

.bouton_filtres{
    flex-flow: row;

    border-width : 2px;
    border-style: solid; 
    border-color : #F2F2F2;
    border-radius: 30px;
}

.fa-info{
    border-width : 1px;
    border-style: solid; 
    border-color : #F2F2F2;
    border-radius: 40px;
    padding: 5px 10px 5px 10px;
}

.boite_heb_pop{
    justify-content: space-evenly;
}

.boite_hebergements{
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    height: 626px;
    background-color: #F2F2F2;
}

.boite_populaires{
    flex-flow: column;
    background-color: #F2F2F2;
}

.image_hebergements{   
    width: 246px;
    height: 124px;
}
.image_populaires{
    width: 123px;
    height: 144px;
}
.image_activites{
    width: 302px;
    height: 444.51px;
}

/*FOOTER*/

.boite_footer{
    width: 1339px;
    height: 225px;
    justify-content: space-around;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 992px) and (max-width: 1400px){
.fa-magnifying-glass{
    display: none;
}

}